*{
    margin: 0;
    padding: 0;
}
body{
     
     font-family: "Poppins", sans-serif;
}
/*en tete de la page */
header{
    top: 50px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 0px black;
}
header img{ 
    height: 55px;    
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav li{
    justify-content: center;
    list-style-type: none;
}

nav a{
    padding: 0px 20px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #FE7600;
    margin-right: 5px;
    height: 15px;
}
hr{
    height: 20px;
    border-left: 3px solid #FE7600;
    margin-top: 0%;
    margin-left: -10px;
}
.toggle-btn{
    width: 20px;
    position: absolute;
    right: 20px;
    top: 25px;
    display: none;

}
.toggle-btn span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FE7600;
    margin-bottom: 8px;
    
}
span{
    float: right;
}
.image img{
    height: 93.59vh;
    width: 100%;
    box-shadow: 0px 5px 0px #273842;
    padding-top: 4px;
}
.our-button,.book-button{
    position: absolute;
    top: 400px;
    width: 130px;
    border-radius: 20px;
    height: 40px;
    box-shadow: 0px 3px 0px #fbb476;
    cursor: pointer;
}
.book-button{
    background-color: #273842;
    color: white;
    right: 400px;
    border: none;
}
.our-button{
    background-color: #FE7600;
    color: #273842;
    right: 140px;
    border-color: #273842;
}
.book-button:hover{
    background-color: #FE7600;
    color: #273842;
}
.our-button:hover{
    background-color: #273842;
    color: white;
}
/* section About start her */

.testimonial h1{
    text-align: center;
    color: #273842;
    font-size: 40px;
}

.testimonial .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1%;
}

.testimonial .box-container .box{
    background:#fff;
    margin: 1rem;
    padding: 1px;
    text-align: center;
    position: relative;
    border:.1rem solid #FE7600;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    flex:1 1 30rem;
    border-radius: .7rem;
}

.testimonial .box-container .box .fa-quote-right{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 5rem;
    color:#273842;
}

.testimonial .box-container .box .user img{
     border-radius: 50%;
     object-fit: cover;
     height: 7rem;
     width: 7rem;
     margin-top:  2rem; 
}

.testimonial .box-container .box .user h3{
    color: #FE7600;
    font-size: 1rem;
}

.testimonial .box-container .box .user .stars i{
    color: #FE7600;
    font-size: 1rem;
    opacity: .3;
    
}
.testimonial .box-container .box .comment{
    color: black;
    padding: 1.4rem;
}
.testimonial{
    padding-top: 50px;
}
/* section Testimonial ends */
#about {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;

}

#about h3{
    color: #FE7600;
    font-size: 1rem;
}
   
.offre{
    display: flex;
    justify-content: space-between;
}

/* animation start here */

.offre img{
    animation: float 7s linear infinite;
    margin-top: 3%;
    margin-right: 8%;
    width: 40%;
}

@keyframes float{
0%, 100%{
transform: translateY(0rem);
} 
50%{
transform: translateY(-2.5rem);
}
}
/* animation ends */


.offre div{
    margin-left: 11%;
    margin-top: 7%;
}


.offre .content h3{
    font-size: 3rem;
    color: #273842;
}


.offre .content p{
    font-size: 1.3rem;
    color: black;
    padding: 1rem 0;
}

/* section About ends */
.Contact{
    padding-top: 50px;
    text-align: center;
    height: 250px;
}
.titre{
    font-size: 40px;
    color: #273842;
    text-align: center;
}
.form{
    text-align: center;
    display: flex;
    border: 1px solid #FE7600;
    padding: 2px;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    margin-left: 250px;
}
.email{
    padding: 0 2px;
    font-size: 20px;
    width: 80%;
    background: none;
    border: none;
}
.submit{
    height: 35px;
    background-color: #FE7600;
    color: white;
    border-radius: 5px;
    border: none;
    width: 20%;
    margin: 2px 10px 0px 0px;
}
.submit:hover{
    color: #273842;
}
/*section contact ends*/
.Download{
    height: 230px;
    padding-top: 50px;
    text-align: center;
}
.ligne{
    height: 1px;
    background-color: #F5F5F5;
}

.boutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}
#applications{
    background-color: #FE7600;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;

}
#applications p{
    padding: 4px;
}
#applications{
display: flex;
justify-content: space-around;
cursor: pointer;
}
#applications i{
    margin-top: 18px;
}
#applications:hover{
    color: #273842;
}
/*section mobile ends*/
footer img{
    height: 200px;
    width: 100%;
}
.icones{
    height: 50px;
    width: 20%;
    position: absolute;
   right: 500px;
   top: 2400px;
   animation: float 9s linear infinite;
}
@keyframes float{
    0%, 100%{
    transform: translateY(0rem);
    } 
    50%{
    transform: translateY(-2.5rem);
    }
    }
.foote{
    display: flex;
    position: absolute;
    right: 340px;
    top: 2470px;
}
.foote p{
    margin: 10px;
}

@media screen and (max-width: 750px) 
{   header {
    flex-direction: column;
}
    .toggle-btn{
        display: block;
    }
    nav{
        display: none;
        width: 100%;
        
    }
    ul{
        flex-direction: column;
        width: 100%;
        right: 650px;
    }
    li{
        text-align: center;
        border-bottom: 1px solid #FE7600;
        padding: 15px;
    }
    nav hr{
        display: none;
    }
   nav.show{
    display: flex;
   }
    .our-button
    {
        position: absolute;
        top: 410px;
        right: 140px;
    }  
    .book-button
    {
        position: absolute;
        top: 480px;
        right: 140px;
    }

    .form
    {
        margin-left: 100px;
    }
    .offre
    {
        flex-shrink: 1;
    }
}

@media screen and (max-width: 550px)
{
    .box-container
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px)
{
    #applications
    {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1100px)
{
    .icones, .foote
    {
        display: none;
    }
    .box-container
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 416px)
{
    #applications
    {
        margin-top: 2px;
    }
}